<html>

<head>
</head>

<body>
    This is the single template
    <h1>I am the layouts/_default/list.html</h1>
    {{.Content}}
    {{range .Pages}}
    <ul>
        <li>
            <a href="{{.Permalink}}">
                <div class="video-thumbnail">
                    <img src="https://img.youtube.com/vi/{{.Params.Id}}/hqdefault.jpg" alt="Youtube video thumbnail">
                </div> -
                <b>{{ .Title }}</b>
                {{ .Params.summary }}
        </li>
    </ul>
    {{end}}
</body>

</html>

https://i.ytimg.com/an_webp/mu_65mXCREU/mqdefault_6s.webp?du=3000&sqp=CN3tmZ4G&rs=AOn4CLAmmuik2oSAdNm-QERkFcOga8nxuw