<html>
{{partial "header" .}}

<body>
    {{partial "navbar" .}}
    {{partial "pageTitle" .}}
    {{range .Pages}}
    <div class="container">
        <div class="row">
            <div class="col">
                <a href="{{.Permalink}}">
                    <b>{{.Params.title}}</b>
                </a>
                <br>
                {{.Params.summary_one_sentence}}
            </div>
        </div>
        <div class="row">
            <br>
        </div>
    </div>
    {{end}}
    {{partial "bootstrap_js" .}}
</body>

</html>
